<%@ Assembly Name="System.Xml" %>
<%@ Import NameSpace="System.Xml" %>
<%@ Import NameSpace="System.Collections" %>
<%@ Import NameSpace="System.Text.RegularExpressions" %>
<%@ Argument Name="NameSpace" Type="string" %>

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;

namespace <%=NameSpace%>
{
   public interface IGroup
    {
        string Name { get; }

        IEnumerable<IUser> Users { get; }

        void AddUser(IUser user);

        void AddUser(string loginName, string email, string name, string notes);
    }
}
