<%@ Assembly Name="System.Xml" %>
<%@ Import NameSpace="System.Xml" %>
<%@ Import NameSpace="System.Collections" %>
<%@ Import NameSpace="System.Text.RegularExpressions" %>
<%@ Argument Name="NameSpace" Type="string" %>

using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;

namespace <%=NameSpace%>
{
    public interface ISite
    {
        string Url { get; }

        string Id { get; }

        IWeb OpenWeb();

        IWeb OpenWeb(Guid webId);
    }
}
